#sign-video-overlay {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 200px;
    height: 200px;
    z-index: 9999;
    background: black;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid white;
  }
  